<div style="width: 100%;">
<h2>encabezado de facturas</h2>
<div style="display:flex; justify-content: center;">
<form action="" method="post">
        <div style="display:flex;justify-content: space-between;width:1100px;padding-bottom: 20px;">
            <div style="display: flex; flex-direction: column;text-align: center; width:35%; text-align: start;">
                <label for="">NO.de factura</label>
                <input type="number" name="noFac" style="border:none; border-radius:10px; color:white; background-color: blueviolet;padding: 5px 5px;">
            </div>
            <div style="display: flex; flex-direction: column;text-align: center; width:20%; text-align: start;">
                <label for="">fecha de factura</label>
                <input type="date" name="feFac" style="border:none; border-radius:10px; color:white; background-color: blueviolet;padding: 5px 5px;">
            </div>
            <div style="display: flex; flex-direction: column;text-align: center; width:35%; text-align: start;">
                <label for="">vendedor</label>
                <input type="text" name="vende" style="border:none; border-radius:10px; color:white; background-color: blueviolet;padding: 5px 5px;">
            </div>
        </div>
        <div style="display:flex;justify-content: space-between;width:1100px;padding-bottom: 20px;">
            <div style="display: flex; flex-direction: column;text-align: center; width:30%; text-align: start;">
                <label for="">NO. identificacion cliente</label>
                <input type="number" name="vende" style="border:none; border-radius:10px; color:white; background-color: blueviolet;padding: 5px 5px;">
            </div>
            <div style="display: flex; flex-direction: column;text-align: center; width:30%; text-align: start;">
                <label for="">nombres y apellidos</label>
                <input type="text" name="vende" style="border:none; border-radius:10px; color:white; background-color: blueviolet;padding: 5px 5px;">
            </div>
            <div style="display: flex; flex-direction: column;text-align: center; width:30%; text-align: start;">
                <label for="">correo electronico</label>
                <input type="mail" name="vende" style="border:none; border-radius:10px; color:white; background-color: blueviolet;padding: 5px 5px;">
            </div>
        </div>
        <div style="display:flex;justify-content: space-between;width:1100px;padding-bottom: 20px;">
            <div style="display: flex; flex-direction: column;text-align: center; width:45%; text-align: start;">
                <label for="">telefono de contacto</label>
                <input type="text" name="vende" style="border:none; border-radius:10px; color:white; background-color: blueviolet;padding: 5px 5px;">
            </div>
            <div style="display: flex; flex-direction: column;text-align: center; width:50%; text-align: start;">
                <label for="">vendedor</label>
                <input type="text" name="vende" style="border:none; border-radius:10px; color:white; background-color: blueviolet;padding: 5px 5px;">
            </div>
        </div>

    </form>
</div>
</div>